*,
*::afterm *::before {
  box-sizing: border-box;
  border: 1px solid black;
  background-color: lavender;
}

:root {
  --cell-size: 150px;
  --tick-size: calc(var(--cell-size) * 0.9);
}

body {
  margin: 0;
}

/* !BOARD */
.board {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  gap: 5px;
  grid-template-columns: repeat(3, auto);
}

.cell.x::before,
.cell.x::after,
.cell.circle::before {
  background-color: black;
}

.cell.cell.circle::after {
  background-color: white;
}

.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before {
  background-color: gray;
}

/* !CELLS */
.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  border: 2px solid black;
}

.cell.x,
.cell.circle {
  cursor: not-allowed;
}

/* !X-tick */
.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
  content: "";
  position: absolute;
  width: calc(var(--tick-size) * 0.15);
  height: var(--tick-size);
}

.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before {
  transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after {
  transform: rotate(-45deg);
}

/* !CIRCLE-tick */
.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover:after {
  content: "";
  position: absolute;
  border-radius: 50%;
}

.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before {
  width: calc(var(--tick-size) * 0.9);
  height: calc(var(--tick-size) * 0.9);
}

.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover:after {
  width: calc(var(--tick-size) * 0.63);
  height: calc(var(--tick-size) * 0.63);
  background-color: white;
}

/* !Winning message */

.winning_message {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  color: antiquewhite;
  font-size: 4rem;
  font-weight: 500;
  font-family: monospace;
}

.winning_message button {
  font-family: monospace;
  font-size: 3rem;
  font-weight: 700;

  border: 2px solid white;
  background-color: white;
  color: black;
  padding: 0.15em 0.5em;
}

.winning_message button:hover {
  cursor: pointer;
  color: white;
  background-color: black;
}

.winning_message.show {
  display: flex;
}
